/*.App{*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items:center;*/

/*    width: 1280px;*/
/*    height: 100%;*/

/*}*/
.App {

    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;



}

.App > div {
    /*margin-right: 50px;*/

}
.cursor, .aura{
    position: absolute;
    border-radius: 100%;
    transition: .5s cubic-bezier(.75,-1.27,.3,2.33) transform, .2s cubic-bezier(.75,-1.27,.3,2.33) opacity;
    user-select: none;
    pointer-events: none;
    z-index: 10000;
}
.cursor{
    width: 8px;
    height: 8px;
    background-color: rgba(255, 255, 255, 0.54);
}
.aura{
    width: 46px;
    height: 46px;
    border: 2px solid rgba(4, 246, 218, 0.2);
    background-color: rgba(255, 255, 255, 0.027);
    transform: translate(5px, 5px);
}